h2 {
    text-align: center;
}

.item {
    width: 12em;
    overflow: auto;
    margin: 5px;
    float: left;
    height: 16em;
    background: #9098db;
    border: 2px solid;
}

.item.w2 {
    width: 12em;
    height: 14em;
}
